<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
  <Appenders>
    <RollingFile name="rollingFile" fileName="logs/hippodrome.log" filePattern="logs/hippodrome.%d{yyyy-MM-dd}.log">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1}: %m%n"/>
      <DefaultRolloverStrategy>
        <Delete basePath="logs">
          <IfFileName glob="hippodrome.*.log"/>
          <IfLastModified age="7d"/>
        </Delete>
      </DefaultRolloverStrategy>
      <TimeBasedTriggeringPolicy />
    </RollingFile>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1}: %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="rollingFile"/>
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>