<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="Debug" name="MyApp" packages="">
    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/hippodrome.log"
                     filePattern="logs/hippodrome.%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.}: %m%n</Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy/>
            <DefaultRolloverStrategy>
                <Delete basePath = "logs">
                    <IfFileName glob = "hippodrome.*.log"/>
                    <IfLastModified age = "7d"/>
                </Delete>
            </DefaultRolloverStrategy>

        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="Debug">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>